<div class="container">
  <div class="jumbotron" >
    <h2 style="color:cornflowerblue">PackXprez for you!!</h2>
    <p style="font-family:'Angsana New'; font-size:26px;">
      Welcome to PackXprez! Log in to a world of smart shipping! Do not miss out on sending the love to your loved ones.    
      Fastest Delivery, multiple payment options and easy  policies are like cherries on the sundae!
    </p>
    <img class="img-responsive" src="src/app/packXprez-images/PackXprezz.png" style="height:250px;width:605px;display:block;margin:0px auto;" />
  </div>
</div>
